
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Bienvenidos a Laboratorios Labsys</h2>
</div>
<div class="row">

    <div class="col-md-4">
        <h2>Nuestro Equipo</h2>
        <p>
            Contamos con los profesionales mas capacitados y el equipo
            mas avanzado para brindar el mejor servicio a los pacientes.
        </p>
        <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Index", "Pacientes")'">Nuestro equipo</button>
    </div>

    <div class="col-md-4">
        <h2>Turnos</h2>
        <p>
            Acceda de forma rapida al listado de turnos.
        </p>
        <br />
        <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Index", "Turnos")'">Turnos</button>
    </div>

</div>
