
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LABSYS</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenidos a Laboratorios Labsys</h2>
        <p>
            Labsys es la compañia lider en Analisis Clinicos y trabajamos con 
            hospitales y clinicas en todo Latinoamerica.

            <!--  Labsys Laboratories is a company dedicated to perform
                clinical analysis for hospitals and health clinics in the area. -->
            </p>
        </div>
    <div class="col-md-4">
        <h2>Nuestro Equipo</h2>
        <p>
            Contamos con los profesionales mas capacitados y el equipo
            mas avanzado para brindar el mejor servicio a los pacientes.

            <!-- We have proffesionals with excellent qualifications and
        the most advanced equipment to give the best health service to our patients. -->
        </p>
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Pacientes")'">Nuestro equipo...</button>
    </div>
        <div class="col-md-4">
            <h2>Sponsors</h2>
            <p>


                <!-- The best companies in the field give us their support, that is why they offer
    their collaboration so that patients feel comfortable at all times. -->
            </p>
        </div>
    </div>
